:root {
    --primary-color: #f1496a;
    --dark-primary-color: #b6354e;
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.edit-zone {
    background-color: white;
    width: 320px;
    height: 550px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.6);
    padding: 40px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control {
    border-radius: 30px;
    padding: 15px 30px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.submit-btn {
    background-color: var(--primary-color);
    border: none;
    color:white;
    border-radius: 30px;
    padding: 15px 30px;
    margin-bottom: 15px;
    cursor: pointer;    
}

.edit-item {
    display: flex;
    flex-direction: column;
}


.img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      margin-top: 10px;
      background-color: var(--primary-color);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: var(--primary-color);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #b7afaf;
      box-shadow: -80px 0 0 80px var(--dark-primary-color);
    }

}
